@charset "UTF-8";
:root {
    --text-all: #404040;
    --text-draft: #920000;
    --text-link: #da0101;
    --background: #ffffff;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    background: var(--background) url('package/images/background1.jpg') center center no-repeat fixed;
    background-size: cover;
    height: 100vh;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}

header {
    justify-content: space-between;
    background-color: var(--background);
    box-shadow: 0px 10px 20px #000000;
    color: var(--text-all);
    text-align: left;
    padding: 10px;
    margin-bottom: 1em;
    font-size: 1em;
}

    div.logo {
        display: inline-block;
        font-family: "Chivo Mono", monospace;
        font-weight: bold;
        margin-left: 1em;
    }

        .logoup {
            text-decoration: none;
            font-size: 2em;
            color: var(--text-all)
        }

        .logodown {
            display: flex;
            justify-content: right;
            text-decoration: none;
            font-size: 0.5em;
            color: var(--text-draft)
        }

    ul.menu {
        font-family: "Chivo Mono", monospace;
        display: flex;
        justify-content: right;
        gap: 1em;
        margin-right: 1em;
    }

        ul.menu li {
            list-style: none;
        }

        ul.menu li a {
            display: block;
            padding: 1em;
            text-decoration: none;
            font-size: 0.8em;
            font-weight: bold;
            text-transform: uppercase;
            color: var(--text-all);
            transition: 0.5s ease;
        }

        ul.menu:hover li a{
            color: var(--text-draft)
        }

        ul.menu:hover li a:not(:hover) {
            color: var(--text-all);
            opacity: 0.5;
            filter: blur(1px);
        }

main {
    flex: 1 0 auto;
    width: min(100% - 2em, 80em);
    margin-inline: auto;
    padding: 2em;
}

    .link {
        font-weight: bold;
        text-decoration: none;
        color:var(--text-link);
        margin-inline: 1em;
    }

    .link:visited {
        color:var(--text-draft);
    }

    .link:hover {
        color:var(--text-link);
        text-decoration: underline;
    }

.galeri {
    display: flex;
    height: 20em;
    gap: 1em;
}

    .card {
        background-image: url('package/images/about1.jpg');
    }
    
    .galeri > div {
        flex: 1;
        border-radius: 1em;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover 100%;
        transition: all .8s cubic-bezier(0.25, 0.4, 0.45, 1.4);
    }

    .galeri > div:hover {
        flex: 3;
    }

div.notes {
    text-align: left;
}

footer {
    flex-shrink: 0;
    background-color: var(--background);
    box-shadow: 0px -10px 20px #000000;
    color: var(--text-all);    
    padding: 1em;
    font-size: 1em;
    margin-top: 1em;
}