@charset "UTF-8";
:root {
    --text-main: #404040;
    --text-draft: #00ffff;
    --text-link: #da0101;
    --text-card: #ffffff;
    --text-other: #ffffff;
    --font-main: Arial, Helvetica, sans-serif;
    --font-draft: "Chivo Mono", monospace;
    --background: #ffffff;
    --background-other: #4040408a;
}

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

html, body {
    display: flex;
    flex-direction: column;
    background: var(--background) url('package/images/background1.jpg') center center no-repeat fixed;
    background-size: cover;
    height: 100vh;
    text-align: center;
    font-family: var(--font-main);
    color: var(--text-other);
}

header {
    justify-content: space-between;
    background-color: var(--background);
    box-shadow: 0px 10px 20px #000000;
    color: var(--text-main);
    text-align: left;
    padding: 10px;
    margin-bottom: 1em;
    font-size: 1em;
}

    div.logo {
        display: inline-block;
        font-family: var(--font-draft);
        font-weight: bold;
        margin-left: 1em;
        margin-top: 0.5em;
    }

        .logoup {
            text-decoration: none;
            font-size: 3em;
            color: var(--text-main)
        }

        .logodown {
            display: flex;
            justify-content: right;
            text-decoration: none;
            font-size: 1em;
            color: var(--text-draft)
        }

    nav {
        display: flex;
        justify-content: right;
        align-items: center;
    }

        i#hamburger {
            display: block;
            cursor: pointer;
        }

            i#hamburger:hover {
                color: var(--text-draft);
            }

        ul.menu {
            font-family: var(--font-draft);
            display: flex;
            justify-content: right;
            gap: 1em;
            margin-right: 1em;
        }

            ul.menu li {
                list-style: none;
            }

            ul.menu li a {
                display: block;
                padding: 1em;
                text-decoration: none;
                font-size: 1em;
                font-weight: bold;
                text-transform: uppercase;
                color: var(--text-main);
                transition: 0.5s ease;
            }

            ul.menu:hover li a{
                color: var(--text-draft)
            }

            ul.menu:hover li a:not(:hover) {
                color: var(--text-main);
                opacity: 0.5;
                filter: blur(1px);
            }

main {
    flex: 1 0 auto;
    width: min(100% - 2em, 80em);
    margin-inline: auto;
    padding: 2em;
}

    ul.link, ul.download {
        font-family: var(--font-draft);
    }

        ul.link li, ul.download li {
            list-style: none;
        }

        ul.link li a, ul.download li a {
            display: block;
            padding: 0.5em;
            text-decoration: none;
            font-size: 1em;
            font-weight: bold;
            text-transform: uppercase;
            color: var(--text-link);
            transition: 0.5s ease;
        }

            ul.download li a {
                padding: 0em;
            }

        ul.link:hover li a, ul.download li a {
            color: var(--text-draft)
        }

        ul.link:hover li a:not(:hover), ul.download:hover li a:not(:hover) {
            color: var(--text-link);
            opacity: 0.5;
            filter: blur(1px);
        }

    .gallery {
        display: flex;
        height: 20em;
        gap: 1em;
    }

        .card {
            position: relative;
            background-image: url('package/images/about1.jpg');
        }

            .card > p {
                position: absolute;
                font: bold 2em var(--font-draft);
                color: var(--text-card);             
                left: 20px;
                bottom: -5px;
                transform-origin: left;
                transform: rotate(-90deg);            
            }
        
        .gallery > div {
            flex: 1;
            border-radius: 1em;
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            transition: all .8s cubic-bezier(0.25, 0.4, 0.45, 1.4);
        }

        .gallery > div:hover {
            flex: 3;
        }

    article {
        padding: 1.4em;
    }

        article > p {
            font-size: 1.4em;
            margin-left: 20vw;
            margin-right: 20vw;
        }

        .secon {
            background: var(--background);
            box-shadow: 0px 0px 20px #000000;
        }

            .secon > p {
                color: var(--text-main);

            }

        .secoff {
            background-color: #000000bd;
            margin-top: -17px;
            margin-bottom: -17px;
        }

    div.notes {
        text-align: left;
    }

footer {
    flex-shrink: 0;
    background-color: var(--background);
    box-shadow: 0px -10px 20px #000000;
    color: var(--text-main);    
    padding: 1em;
    font-size: 1em;
    margin-top: 1em;
}